<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<div class="baby-registry-hero">
	<div class="baby-registry-logo"></div>
	<div class="baby-registry-main-text">
		You can count on "Us" to help you find everything to get you and your baby off to a happy start.
	</div>
</div>
</dsp:page>