<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<div class="baby-registry-create">
	<div class="baby-registry-create-header">
		create a <span>registry</span>
	</div>
	<div class="baby-registry-create-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas eleifend sapien nec pellentesque.
	</div>
	<div class="baby-registry-create-submit">
		<button>create</button>
	</div>
</div>
</dsp:page>