<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<div class="shipping-default-header">
	<div class="shipping-default-header-text inline">
		shipping
	</div>
	<div class="shipping-default-header-signin pull-right">
		<a href="#">sign in</a> for <i>faster</i> checkout
	</div>
</div>
</dsp:page>