<div class="checkout-review-payment-method">
	<div class="row">
		<div class="col-md-5 payment-method">
			<header>
				payment method <span>·</span> <a href="#">edit</a>
			</header>
			<p>Master Card</p>
			<p>xxxx xxxx xxxx 1234</p>
		</div>
		<div class="col-md-5 col-md-offset-2 billing-info">
			<header>
				billing information <span>·</span> <a href="#">edit</a>
			</header>
			<p>Aaron Cook</p>
			<p>534 Mt Vernon Rd</p>
			<p>Newark, OH 43055</p>
			<p>(614) 432-0778</p>
			<p>US</p>
		</div>
	</div>
</div>