<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<div class="copyright-footer">
	<div class="copyright-text">
		&copy; 2014 Geoffrey, LLC. All Rights Reserved. Use of this site signifies your acceptance of Toys "R" Us Website <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.
	</div>
</div>
</dsp:page>