<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<div class="create-account-thank-you">
	<h2>thanks!</h2>
	<p>Your account has been created!</p>
	<button>go to my account</button>
	<p>enjoy great benefits when you shop!</p>
	<ul>
		<li>Faster checkout</li>
		<li>Personal address book</li>
		<li>Keep your credit card(s) on file</li>
		<li>Track your order and review your order history</li>
		<li>Improved customer service</li>
	</ul>
</div>
</dsp:page>