<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<div class="explore-recently-viewed-single">
	<div class="row">
		<div class="col-md-2">
			<img src="/mwodt-static/assets/images/checkout/Gifting_Koala-product-Thumb-2.jpg" alt=""/>
		</div>
		<div class="col-md-7">
			<div>
				<div class="star-rating-on"></div>
				<div class="star-rating-on"></div>
				<div class="star-rating-on"></div>
				<div class="star-rating-on"></div>
				<div class="star-rating-on"></div>	
			</div>
			<div class="recently-viewed-details">
				<a href="#">Koala Baby Girls&#x2019; Short Sleeve Tiered Tunic</a>
				<p>Ages 4 and up.</p>
			</div>
			<div class="recently-viewed-price">
				<span class="crossed-out">$39.99</span><span class="sale-price">$19.99</span>
				<p>you save $20.00 (50%)</p>
			</div>
		</div>
	</div>
</div>
</dsp:page>