<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<c:choose>
	<c:when test="${not empty param.classnames}" >
		<c:set var="classNames" value="${param.classnames}" />
	</c:when>
	<c:otherwise>
		<c:set var="classNames" value="" />
	</c:otherwise>
</c:choose>
<div class="store-locator-results-single find-in-store-single <c:out value="${classNames}"/>">
	<div class="row">
		<div class="results-col-3">
			<header>
				<a href="#">Toys“R”Us—Miami</a>
			</header>
			<p>3301 Coral Rd.</p>
			<p>open until 11pm today</p>
            <button data-dismiss="modal" data-toggle="modal" data-target="#shoppingCartModal" class="add-to-cart">add to cart</button>
            <div>
	            <div class="green-list-dot inline"></div>
	            <p class="inline free-store-pickup">Free Store Pickup
	        	<br />
	        	Ready in under an hour</p>
	        </div>
		</div>
        <div class="results-col-1"></div>
		<div class="results-col-2">
			<p>3 mi.</p>
			<a class="details">details</a>
		</div>
	</div>
</div>
</dsp:page>