<div id="giftCardBalanceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content sharp-border gift-card-balance-overlay">
			<img data-dismiss="modal" src="/mwodt-static/assets/images/my-account/close.png" alt="" />
			<header>gift card balance</header>
			<p>To check your Gift Card or Christmas Savers Club Card balance, simply enter the card number and PIN, then click "Check Balance". If your gift card does not have a PIN, please call 1-800-TOYSRUS to find your balance.</p>
			<div class="row gift-card-input-group">
				<div><p>card number</p><input type="text" /></div>
				<div><p>PIN</p><input type="text" /></div>
			</div>
			<button>check balance</button>
			<hr>
			<img src="/mwodt-static/assets/images/my-account/gift-card-help.png" alt="gift card back"/>
        </div>
    </div>
</div>