﻿<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<div class="gift-finder-name-zone">
    name your gift finder
    <input type="text" id="giftFinderName" placeholder="e.g. Kaitlyn's birthday"/>
</div>
</dsp:page>