<button class="narrow-by-button compare-toggle" id="sub-category-narrow-by-button" type="button" data-toggle="offcanvas" data-target=".gift-finder-menu"/>

<div class="gift-finder-tab">
	<a href="#">
	  <img src="/mwodt-static/assets/images/giftfinder-tab.png" />
	</a>
</div>

<div class="gift-finder-tab">