<dsp:page>
	<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
	
	<dsp:importbean bean="/atg/multisite/Site" />

	<dsp:getvalueof var="vProductionUrl" vartype="java.lang.String" bean="Site.productionURL" />
	
	<form id="searchForm" name="searchForm" autocomplete="off"
		action="${vProductionUrl}/search">
		<input type="hidden" name="Dy" value="1" /> 
		<input type="hidden" name="Nty" value="1" />
		<div id="global-nav-typeahead" class="global-nav-search-bar">
			<input id="searchText" type="text" name="Ntt" autocomplete="off" />
		</div>
		<img class="typeahead-arrow" src="/mwodt-static/assets/images/arrow.svg" alt="up arrow" /> 
		<img class="search-icon" src="/mwodt-static/assets/images/global-nav/search-icon-mwodt.png"
			alt="search icon" onclick="formsubmit();" />
	</form>

</dsp:page>
