<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<nav class="navbar navbar-bottom" role="navagation">
    <div class="navbar-mwodt container-fluid">
        <div class="nav navbar-nav">
            <img id="logo-swap-lg" src="/mwodt-static/assets/images/global-nav/toysrus-logo-large.png" alt="mwodt logo" />
        </div>
        <div class="navbar-left">
        </div>
        <div id="exploreButton" class="navbar-left">
            <img class="hamburger-icon" src="/mwodt-static/assets/images/global-nav/hamburger-icon.png" alt="shopby menu icon" />
            <p>shop by</p>
        </div>
        <div class="navbar-left">
        </div>
        <div class="navbar-right">
			<c:import url="/components/global-nav-cart.jspf"></c:import>
        </div>
        <div class="navbar-right">
        </div>
        <div class="navbar-right">
			<c:import url="/components/we-can-help-dropdown.jspf"></c:import>
        </div>
        <div class="navbar-right">
        </div>
        <div class="navbar-right">
			<c:import url="/components/global-nav-my-account.jspf"></c:import>
        </div>
        <div class="navbar-right">
        </div>
        <div class="navbar-search">
			<c:import url="/components/global-nav-search-bar.jspf"></c:import>
        </div>
    </div>
</nav>
</dsp:page>