<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<button class="flag-button" data-toggle="modal"
	data-target="#internationalizastionModal"></button>
	<c:import url="/components/internationalization-modal.jspf"></c:import>
</dsp:page>