<ul id="layaway-tabs" class="layaway-tabs nav nav-tabs">
    <li class="active">
        <a class="product-review-tab-text" href="#layaway-how-does" data-toggle="tab">how does it work</a>
    </li>
    <li>
        <a class="product-review-tab-text" href="#layaway-faq" data-toggle="tab">layaway FAQ</a>
    </li>
    <li>
        <a class="product-review-tab-text" href="#layawayMyAccount" data-toggle="tab">accounts & payment</a>
    </li>
</ul>