<div class="my-account-your-info">
	<div class="row">
		<div class="col-md-4">
			<div>
				<h1>your info</h1>
				<div>
					<h2>name</h2>
					<p>jane smith<span>·</span><a href="#">edit</a></p>
				</div>
				<div>
					<h2>email address</h2>
					<p>jasmith@email.com<span>·</span><a href="#">edit</a></p>
				</div>
				<div>
					<h2>password<span>·</span><a data-target="#myAccountUpdatePasswordModal" data-toggle="modal" href="#">edit</a></h2>
					<p>xxxxxxxxxxxxx</p>
				</div>
			</div>
			<div class="address-book">
				<h2>address book<span>·</span><a data-target="#myAccountAddAddressModal" data-toggle="modal" href="#">add an address</a></h2>
				<p><a data-target="#addressDoctorModal" data-toggle="modal" class="home-address" href="#">Home</a></p>
				<p>Aaron Cook</p>
				<p>543 Main St.</p>
				<p>Columbus, OH 43215</p>
				<p><a href="#">edit</a><span>·</span><span class="default-address">default address</span></p>
			</div>
		</div>
		<div class="col-md-8">
			<div class="rewards-zone">
				{{my-account-rewards-no-membership}}
				{{my-account-rewards-authenticated}}
			</div>
		
			<div class="saved-credit-card">
				<h2>saved credit cards<span>·</span><a data-target="#myAccountAddCreditCardModal" data-toggle="modal" href="#">add a card</a></h2>
				<div class="row">
					<div class="col-md-5">
						<img src="/mwodt-static/assets/images/checkout/Payment_Small-Visa-Thumb-No-Outline.jpg" />
						xxxxxxxxxxxx4567
					</div>
					<div class="col-md-6">
						3/2016<span>·</span><a data-target="#myAccountEditCreditCardModal" data-toggle="modal" href="#">edit</a><span>·</span><span class="default-card">default card</span>
					</div>
					<div class="col-md-1"><img src="/mwodt-static/assets/images/my-account/delete-icon.png" data-toggle="modal" data-target="#myAccountDeleteCancelModal" alt="delete card icon" /></div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<img src="/mwodt-static/assets/images/checkout/Payment_Small-Mastercard-Thumb-No-Outline.jpg" />
						xxxxxxxxxxxx9056
					</div>
					<div class="col-md-6">
					3/2016<span>·</span><a data-target="#myAccountEditCreditCardModal" data-toggle="modal" href="#">edit</a><span>·</span><span class="default-card"><a href="#">set as default card</a></div></span>
					<div class="col-md-1"><img src="/mwodt-static/assets/images/my-account/delete-icon.png" data-toggle="modal" data-target="#myAccountDeleteCancelModal" alt="delete card icon" /></div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<img src="/mwodt-static/assets/images/checkout/Payment_Small-Amex-Thumb-No-Outline.jpg" />
						xxxxxxxxxxxx1245
					</div>
					<div class="col-md-6">
						3/2016<span>·</span><a data-target="#myAccountEditCreditCardModal" data-toggle="modal" href="#">edit</a><span>·</span><span class="default-card"><a href="#">set as default card</a></span>
					</div>
					<div class="col-md-1"><img src="/mwodt-static/assets/images/my-account/delete-icon.png" data-toggle="modal" data-target="#myAccountDeleteCancelModal" alt="delete card icon" /></div>
				</div>
				<div class="row expired-row">
					<div class="col-md-1 col-md-offset-4">expired</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>