<div class="my-account-my-layaway-orders">
	<div class="row">
		<div class="col-md-12">
			<h1>my layaway orders</h1>
			<p>See order status, view details, cancel items or make a layaway payment.</p>
		</div>
	</div>
</div>