<dsp:page>
	<div class="sub-cat-category-1 sub-cat-filter-list hide inline">
		standard-size
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-2 sub-cat-filter-list hide inline">
		lightweight
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-3 sub-cat-filter-list hide inline">
		jogging
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-4 sub-cat-filter-list hide inline">
		double
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-5 sub-cat-filter-list hide inline">
		triple
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-6 sub-cat-filter-list hide inline">
		standard-size
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-7 sub-cat-filter-list hide inline">
		lightweight
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-8 sub-cat-filter-list hide inline">
		jogging
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-9 sub-cat-filter-list hide inline">
		double
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-category-10 sub-cat-filter-list hide inline">
		triple
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-price-1 sub-cat-filter-list hide inline">
		under $10
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-price-2 sub-cat-filter-list hide inline">
		$10-$20
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-price-3 sub-cat-filter-list hide inline">
		$20-$30
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-price-4 sub-cat-filter-list hide inline">
		$30-$40
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-price-5 sub-cat-filter-list hide inline">
		$40-$50
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-price-6 sub-cat-filter-list hide inline">
		$50-$75
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-price-7 sub-cat-filter-list hide inline">
		$75-$100
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-brand-1 sub-cat-filter-list hide inline">
		GB
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-brand-2 sub-cat-filter-list hide inline">
		Stokke
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-brand-3 sub-cat-filter-list hide inline">
		Bugaboo
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-brand-4 sub-cat-filter-list hide inline">
		Baby
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-brand-5 sub-cat-filter-list hide inline">
		Maclaren
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-color-1 sub-cat-filter-list hide inline">
		red
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-color-2 sub-cat-filter-list hide inline">
		blue
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-color-3 sub-cat-filter-list hide inline">
		green
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-color-4 sub-cat-filter-list hide inline">
		yellow
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-color-5 sub-cat-filter-list hide inline">
		purple
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-maxweight-1 sub-cat-filter-list hide inline">
		under 10 lbs
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-maxweight-2 sub-cat-filter-list hide inline">
		10-20 lbs
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-maxweight-3 sub-cat-filter-list hide inline">
		20-30 lbs
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-maxweight-4 sub-cat-filter-list hide inline">
		30-40 lbs
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-maxweight-5 sub-cat-filter-list hide inline">
		over 40 lbs
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-weight-1 sub-cat-filter-list hide inline">
		under 5 lbs
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-weight-2 sub-cat-filter-list hide inline">
		5-10 lbs
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-weight-3 sub-cat-filter-list hide inline">
		10-20 lbs
		<div class="dismiss-x inline"></div>
	</div>
	<div class="sub-cat-weight-4 sub-cat-filter-list hide inline">
		over 20 lbs
		<div class="dismiss-x inline"></div>
	</div>
		<a href="#" class="sub-cat-more hide">more...</div>
	<a class="clear-all-filters hide" href="#">
		clear all
	</a>
</dsp:page>