﻿<dsp:page>
	<div class="narrow-by-container">
		<button class="narrow-by-button compare-toggle" id="sub-category-narrow-by-button" type="button" data-toggle="offcanvas" data-target=".compare-menu"/>
		<label class="narrow-by-button-label" for="sub-category-narrow-by-button"><span class="expanded"></span><span class="minimized"></span>narrow by</label>
	</div>
</dsp:page>