<dsp:page>
<div class="product-review-average-rating">	
	<div class="row ave-customer-rating-header">
		<div class="col-md-8">average customer rating</div>
		<div class="col-md-4 write-review-button"><button>write a review</button></div>
	</div>
	<div class="ave-customer-rating">
		<c:import url="/components/star-rating-img.jspf"></c:import>
		<span>4.2 (based on 3,288 reviews)</span>
	</div>
	<div class="ave-customer-rating-recommend">
		<span class="percent-recommended">98%</span>
		<span class="percent-recommended-to-friend">of respondents would recommend this to a friend.</span>
	</div>

	<div class="ave-customer-rating-column row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-8">
					<header>Reviewer Profile: 
						<p>Parent of two of more children (104), Working parent (39), Grandparent (29), Stay at home parent (27), First time parent (17)</p>
					</header>
					<br>
					<header>Was this a gift?:
						<p>Yes (103), No (37)</p>
					</header>
				</div>
			</div>
			<div class="row pros-cons">
				<div class="col-md-2">
					<header>Pros</header>
					<p>Cute (105)</p>
					<p>Lots of fun (54)</p>
					<p>Entertaining (47)</p>
					<p>Realistic (41)</p>
					<p>Durable (37)</p>
				</div>
				<div class="col-md-3">
					<header>Cons</header>
					<p>Pricey / poor value (7)</p>
					<p>Poor quality (5)</p>
					<p>Difficult to clean (3)</p>
					<p>Few neat features (3)</p>
				</div>
				<div class="col-md-3">
					<header>Best Uses</header>
					<p>Imaginative play (71)</p>
					<p>Young children (63)</p>
					<p>All ages (44)</p>
					<p>Collecting (44)</p>
					<p>Small children (35)</p>
				</div>
				<div class="col-md-4 rating-left-column">
					<header>ratings distribution</header>
					<div class="progress-bar-block">
						<span>5 stars</span>
						<div class="progress">
						  <div class="progress-bar" role="progressbar">
						  </div>
						</div>
						<span>(179)</span>
					</div>
					<div class="progress-bar-block">
						<span>4 stars</span>
						<div class="progress">
						  <div class="progress-bar" role="progressbar">
						  </div>
						</div>
						<span>(82)</span>
					</div>
					<div class="progress-bar-block">
						<span>3 stars</span>
						<div class="progress">
						  <div class="progress-bar" role="progressbar">
						  </div>
						</div>
						<span>(10)</span>
					</div>
					<div class="progress-bar-block">
						<span>2 stars</span>
						<div class="progress">
						  <div class="progress-bar" role="progressbar">
						  </div>
						</div>
						<span>(2)</span>
					</div>
					<div class="progress-bar-block">
						<span>1 stars</span>
						<div class="progress">
						  <div class="progress-bar" role="progressbar">
						  </div>
						</div>
						<span>(1)</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</dsp:page>