<div class="size-chart-modal modal fade" id="quickviewSizeChartModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog warning-modal">
        <div class="modal-content sharp-border">
            <div class="modal-header">
            	<img class="close-modal" data-dismiss="modal" src="/mwodt-static/assets/images/my-account/close.png" alt="close modal" />
            	<div>
	                <div class="size-title">
		            	size chart
		            </div>
		            <div class="size-text">
		            	Industry standard for baby apparel is to use age as the size, but it is important to measure your child as it is possible to have an older child that still needs a smaller size, or conversely a younger child that needs to size up. For example, a baby that is 14 months may still be wearing size 6-12 months given her measurements. If when measuring, your child falls into two different sizes between weight and length(i.e. 24 lbs and 32") then it is best to size up to ensure a better fit. Apparel in sizes up to 2 years accommodates extra room for a diaper. Measurements up to 2 eyars below are represented with a diaper on.
		        	</div>
		        	<div class="row">
		        		<div class="col-md-6">
		        			<div class="size-sub-title">Newborn and Baby</div>
				        	<table class="table size-table">
				        		<thead>
				        			<tr>
				        				<th>Age/Size</th>
				        				<th>Weight</th>
				        				<th>Length</th>
				        			</tr>
				        		</thead>
				        			<tr>
				        				<td>up to 7 lbs</td>
				        				<td>up to 7 lbs</td>
				        				<td>up to 18''</td>
				        			</tr>
				        			<tr>
				        				<td>0-3 months</td>
				        				<td>7-12 lbs</td>
				        				<td>18'' - 23''</td>
				        			</tr>
				        				<tr>
				        				<td>3-6 months</td>
				        				<td>12-17 lbs</td>
				        				<td>23'' - 27''</td>
				        			</tr>
				        				<tr>
				        				<td>6-12 months</td>
				        				<td>17-22 lbs</td>
				        				<td>27'' - 29''</td>
				        			</tr>
				        				<tr>
				        				<td>12-18 months</td>
				        				<td>22-27 lbs</td>
				        				<td>29'' - 31''</td>
				        			</tr>
				        				<tr>
				        				<td>18-24 months</td>
				        				<td>27-30 lbs</td>
				        				<td>31'' - 33''</td>
				        			</tr>
				        	
				        	</table>
			        	</div>
		        		<div class="col-md-6">
		        			<div class="size-sub-title">Toddler</div>
				        	<table class="table size-table">
				        		<thead>
				        			<tr>
				        				<th>Age/Size</th>
				        				<th>Weight</th>
				        				<th>Length</th>
				        			</tr>
				        		</thead>
				        		<tr>
				        				<td>12-18 months</td>
				        				<td>22-27 lbs</td>
				        				<td>29'' - 31''</td>
				        			</tr>
				        			<tr>
				        				<td>18-24 months</td>
				        				<td>27-30 lbs</td>
				        				<td>31'' - 33''</td>
				        			</tr>
				        				<tr>
				        				<td>2 years</td>
				        				<td>30-33 lbs</td>
				        				<td>33'' - 36''</td>
				        			</tr>
				        				<tr>
				        				<td>3 years</td>
				        				<td>33-36 lbs</td>
				        				<td>36'' - 39''</td>
				        			</tr>
				        				<tr>
				        				<td>4 years</td>
				        				<td>36-40 lbs</td>
				        				<td>39'' - 42''</td>
				        			</tr>
				        				<tr>
				        				<td>5 years</td>
				        				<td>40-46 lbs</td>
				        				<td>42'' - 45''</td>
				        			</tr>
				        	</table>
			        	</div>
		        	</div>
	        	</div>
            </div>
        </div>
    </div>
</div>	