<dsp:page>
<div id="store-locator-find-store" class="store-locator-find-store">
	<header>find a store</header>
	<p>enter an address, city, state or zip</p>
	<div class="find-input-group">
		<input type="text"/>
		<button>find</button>
	</div>
</div>
</dsp:page>