<dsp:page>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog warning-modal">
        <div class="modal-content sharp-border">
            <div class="modal-header">
                <img class="close-modal" data-dismiss="modal" src="/mwodt-static/assets/images/my-account/close.png" alt="close modal" />
                <div>
                    <div class="big-red">
                    	Warning:
                    </div>
                    <span class="warning-message">
                        <div class="warning-text bold">
                        One or more of the items you are attempting to add to your cart is intended for mature audiences.
                        </div>
                        <div class="warning-text">
                       	You must be 17 or older to purchase. These items may contain intense violence, blood and gore, sexual content and/or strong language.
                       	</div>
                       	<div class="warning-text bold">
                       	By ordering this item you are certifying that you are at least 17 years of age.
                       	</div>
                    </span>
                    <div class="warning-modal-footer">
                    	<div class="over-17 inline">
                    		<div class="modal-checkbox-container">
                                <input class="modal-checkbox" id="pdp-modal-checkbox-1" type="checkbox"/>
                                <label for="pdp-modal-checkbox-1"></label>
                            </div>
                    		<div class="inline warning-text">Yes, I am age 17 or older</div>
                    	</div>
                    	<div class="under-17 inline">
                            <div class="modal-checkbox-container">
                                <input class="modal-checkbox" id="pdp-modal-checkbox-2" type="checkbox"/>
                                <label for="pdp-modal-checkbox-2"></label>
                            </div>
                        	<div class="inline warning-text">No, I am under age 17</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</dsp:page>