<dsp:page>
<div class="btn-group we-can-help">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="/mwodt-static/assets/images/global-nav/help-icon.png" alt="help icon"/>

        <div>help</div>
    </button>
	<c:import url="/components/we-can-help-dropdown-menu.jspf"></c:import>
</div>
</dsp:page>