{{> intro}}

{{> menu}}

<div class="f-container">
    <div class="f-main">

        <div class="f-menu-bar">
            <div class="f-menu-toggle">
                <svg>
                    <use xlink:href="#f-icon-menu"/>
                </svg>
            </div>
        </div>

        <h1>Overview</h1>

        <p>The front-end toolkit is a highly-modular design system for building web pages. It contains a collection of
            components and structures that can be assembled into more complex page layouts.</p>

        <p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

        <p>Start by adding the following files to your page:</p>

        <ul><li>
            <a href="toolkit/styles/toolkit.css" target="_blank" class="cyan-link">toolkit.css</a>
        </li>
        <li>
            <a href="toolkit/scripts/toolkit.js" target="_blank" class="cyan-link">toolkit.js</a>
        </li>
        </ul>

        <hr>

        <div class="styleguide-tab-panel" role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#toys-tab" aria-controls="toys-tab" role="tab" data-toggle="tab">Toys"R"Us</a></li>
            <li role="presentation"><a href="#babies-tab" aria-controls="babies-tab" role="tab" data-toggle="tab">Babies"R"Us</a></li>
            <li role="presentation"><a href="#fao-tab" aria-controls="fao-tab" role="tab" data-toggle="tab">FAO Schwarz</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="toys-tab">
                {{> toys-tab}}
            </div>
            <div role="tabpanel" class="tab-pane" id="babies-tab">
                {{> babies-tab}}
            </div>
            <div role="tabpanel" class="tab-pane" id="fao-tab">
                {{> fao-tab}}
            </div>
          </div>

        </div>

</div>
</div>

{{> outro}}
