
@font-face {
  font-family: 'WendyLP-Medium';
  src: url('WendyLP-Medium.eot?#iefix') format('embedded-opentype'),  url('WendyLP-Medium.otf')  format('opentype'),
	     url('WendyLP-Medium.woff') format('woff'), url('WendyLP-Medium.ttf')  format('truetype'), url('WendyLP-Medium.svg#WendyLP-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
