
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('Avenir-Heavy.eot?#iefix') format('embedded-opentype'),  url('Avenir-Heavy.otf')  format('opentype'),
	     url('Avenir-Heavy.woff') format('woff'), url('Avenir-Heavy.ttf')  format('truetype'), url('Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
