.my-account-sign-in-col {
    width: 230px;
}
.my-account-sign-in-col .button-container > a {
    display: inline-block;
}
.my-account-sign-in-col > div > label:nth-child(3) > span {
    display: inline-block;
}
.my-account-sign-in-col .confirm-password {
    display: block;
}

.search-template .container-main-content {
	margin-top:112px;
}
/*--- pdp product walkthrough modal box ---*/
#productVideoModal .modal-dialog {
	width:675px;
}
.blue-txt {
	color:#004EBC;
}

/*-- cms spot for shopping cart --*/
.custom-cms-spot {
	float:none;
	margin:0 auto;
	text-align:center;
	color:#ffffff;
	width:60.8%;
	
}

.custom-cms-header {
background:#00a8bc;
padding-top:5px;
font-size: 48px;
}

.custom-cms-spot {
	
	padding:5px 0;
	font-size:22px;
}

.custom-cms-subtxt {
	background:#00cd51;
	padding:7px 0;
	font-size:16px;
}

.custom-cms-more {
	position:relative;
}

.custom-cms-more:after {
	content:'';
	position:absolute;
	width:0;
	height:0;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #ffffff;
	top:4px;
	right:-11px;
}

/*-- norton logo gap in shopping cart --*/
.shopping-cart-template .my-account-norton {
	margin-top:15px;
}
/*-- pdt details separation --*/
.product-details .product-details-caption span.fix-right {
	margin-right:3px;
}
.product-details .product-details-caption span.fix-left  { 
	margin-left:0;
}

.arrow-pay {
margin-top: -6px;
margin-left: 5px;
}

