@media print {
  .product-details-template {
    min-width: 612px !important;
    max-width: 612px !important;
    margin: 27px !important;
    width: 100% !important; }
    .product-details-template .from-the-manufacturer {
      display: none !important; }
    .product-details-template .print-header {
      display: block !important; }
    .product-details-template .product-review-block {
      display: none !important; }
    .product-details-template .thumb-container {
      display: none !important; }
    .product-details-template .customers-also-purchased {
      display: none !important; }
    .product-details-template .buy-together-and-save {
      display: none !important; }
    .product-details-template .ad-banner {
      display: none !important; }
    .product-details-template .read-more-content {
      display: block !important; }
    .product-details-template .read-more {
      display: none !important; }
    .product-details-template .ad-zone-300-250 {
      display: none !important; }
    .product-details-template .open-r-us-card {
      display: none !important; }
    .product-details-template .sticky-price {
      position: absolute !important;
      right: 0 !important;
      top: 150px !important; }
      .product-details-template .sticky-price .social-banner {
        display: none !important; }
      .product-details-template .sticky-price .sticky-quantity {
        display: none !important; }
      .product-details-template .sticky-price .sizes {
        display: none !important; }
      .product-details-template .sticky-price .color-text {
        display: none !important; }
      .product-details-template .sticky-price .colors {
        display: none !important; }
      .product-details-template .sticky-price .add-to-cart-section {
        display: none !important; }
      .product-details-template .sticky-price .add-to {
        display: none !important; }
    .product-details-template .footer-grid-list {
      display: none !important; }
    .product-details-template .global-nav {
      display: none !important; }
    .product-details-template .ad-zone-777-34 {
      display: none; }
    .product-details-template .product-breadcrumb-row {
      display: none !important; }
    .product-details-template .fixed-product-title {
      position: relative !important; }
    .product-details-template .reviews {
      width: 100% !important; }
    .product-details-template .product-details-content {
      width: 100% !important;
      padding-top: 0; }
    .product-details-template .top-product-details-content {
      width: 100% !important; }
    .product-details-template .product-details-caption {
      padding-top: 0; }
    .product-details-template .footer-images {
      display: none !important; }
    .product-details-template .footer-social {
      display: none !important; }
    .product-details-template #footer {
      display: none !important; }
    .product-details-template .write-review-button {
      display: none !important; }
    .product-details-template .product-questions-tab {
      display: none !important; }
    .product-details-template #product-review-tab {
      border: none !important; }
      .product-details-template #product-review-tab li.active > a {
        border: none !important;
        color: #009DDB !important; }
    .product-details-template .product-review-newest {
      display: none !important; }
    .product-details-template .sort-by-dropdown {
      display: none !important; }
    .product-details-template .ave-customer-rating-header {
      display: none !important; }
    .product-details-template .read-complete-review {
      display: none !important; } }

.gift-finder-template {
  width: 524px;
  float: left;
  position: absolute;
  background-color: #f2f2f2;
  z-index: 1000; }

.product-details-template .customers-also-purchased > div:first-child {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 2%; }
  .product-details-template .customers-also-purchased > div:first-child .large-blue {
    margin-bottom: 20px;
    padding-top: 30px; }
.product-details-template .buy-together-and-save {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 2%; }
  .product-details-template .buy-together-and-save .large-blue {
    margin-bottom: 20px; }
.product-details-template .pdp-header-block {
  position: relative; }
.product-details-template .reviews {
  width: 63.7%; }
.product-details-template .product-review-section {
  width: 100%;
  padding-left: 4%;
  padding-right: 3%; }
  .product-details-template .product-review-section .show-more-questions {
    display: none; }
  .product-details-template .product-review-section .show-more-reviews {
    display: none; }
.product-details-template .from-the-manufacturer {
  padding-left: 4%;
  padding-right: 3%;
  width: 100%; }

.print-header {
  display: none; }

.pdp-shopping-cart-overlay-container {
  margin-top: 220px;
  z-index: 1000;
  position: fixed;
  background-color: #f2f2f2;
  width: 973px;
  height: 410px;
  padding-left: 10px; }

.quickview-modal {
  width: 65% !important; }

.product-details-template .sticky-price {
  top: 300px;
  width: 34.37%; }

.product-details-template .flag-button {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.product-details-template {
  padding: 0;
  margin: 0;
  min-width: 1024px;
  overflow-x: scroll; }

.product-title-row {
  padding-left: 4%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 5px; }

.product-review-row {
  padding-left: 4%;
  padding-bottom: 8px;
  margin: 0;
  border-bottom: 1px solid #efefef; }

.product-breadcrumb-row {
  padding-left: 4%;
  margin: 0;
  padding-top: 110px; }
  .product-breadcrumb-row > .product-breadcrumb-col {
    padding-left: 0; }

.pdp-product-details-block {
  width: 100%; }

.toys-template {
  width: 71.25%; }
  .toys-template > div:first-child {
    width: 25%;
    float: right; }
  .toys-template > div:nth-child(2) {
    width: 100%; }
  .toys-template > div:last-child {
    margin-left: 3%; }

.returns-warranties-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: scroll; }
  .returns-warranties-template .returns-warranties-template-content {
    margin-top: 15px;
    margin-left: 4%;
    margin-right: 4%;
    display: block; }
  .returns-warranties-template .footer-grid-list hr {
    height: 0px; }

.order-history-template .order-history-breadcrumb {
  margin-left: 5%;
  margin-bottom: 15px;
  margin-top: 10px; }
.order-history-template .footer-grid-list hr {
  height: 0px; }
.order-history-template .template-content {
  margin-top: 135px; }
  .order-history-template .template-content > div:first-child {
    width: 65.4%; }
    .order-history-template .template-content > div:first-child hr {
      margin-bottom: 0px;
      margin-left: 3.5%;
      min-width: 685px; }
  .order-history-template .template-content > div:nth-child(2) {
    margin-right: 2%;
    margin-left: 2%; }
  .order-history-template .template-content .order-history-left-col {
    width: 66%;
    min-width: 685px;
    float: left; }
    .order-history-template .template-content .order-history-left-col .order-history-table .row {
      margin-left: 15px; }
  .order-history-template .template-content .order-history-right-col {
    float: right;
    width: 274px; }
    .order-history-template .template-content .order-history-right-col img {
      float: right;
      position: relative;
      top: 5px; }
  .order-history-template .template-content .order-history-header {
    margin-left: 5%; }

.checkout-pickup-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: hidden; }
  .checkout-pickup-template .navbar-default.top-navbar > div > ul:first-child > li:first-child {
    margin-right: 20px; }
  .checkout-pickup-template .checkout-pickup-container {
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 10px; }
  .checkout-pickup-template .spacer {
    margin-bottom: 60px; }
  .checkout-pickup-template .checkout-order-summary {
    position: static; }
  .checkout-pickup-template #order-summary-block {
    position: absolute;
    right: 4%;
    min-width: 230px !important; }

.my-account-template .template-content {
  margin-top: 150px; }
  .my-account-template .template-content > div:first-child {
    width: 67.4%; }
  .my-account-template .template-content > div:nth-child(2) {
    margin-right: 2%;
    margin-top: 15px; }
  .my-account-template .template-content > div:first-child hr {
    margin-bottom: 0px; }
  .my-account-template .template-content > div.row {
    margin: 0px; }
    .my-account-template .template-content > div.row > div {
      padding-left: 0px; }
  .my-account-template .template-content > div.row:first-child > div:first-child {
    margin-bottom: 15px; }
  .my-account-template .template-content .my-account-your-info > div.row {
    max-width: 1024px; }
  .my-account-template .template-content .saved-credit-card {
    padding-right: 0px;
    padding-left: 15px !important; }
    .my-account-template .template-content .saved-credit-card div.col-md-5 {
      width: 35%; }
  .my-account-template .template-content .my-account-left-col {
    float: left;
    position: relative;
    width: 71.4%; }
    .my-account-template .template-content .my-account-left-col hr {
      margin-right: 15px; }
    .my-account-template .template-content .my-account-left-col > hr {
      margin-top: 0px;
      margin-left: 16px; }
    .my-account-template .template-content .my-account-left-col > div {
      margin-left: 2%; }
  .my-account-template .template-content .my-account-right-col {
    float: right;
    position: relative;
    width: 274px; }
    .my-account-template .template-content .my-account-right-col > div:first-child {
      margin-bottom: 20px; }
  .my-account-template .template-content .my-account-order-history {
    padding-right: 15px; }
  .my-account-template .template-content .rewards-zone {
    padding-right: 0px;
    padding-left: 15px !important; }
  .my-account-template .template-content .expired-row div {
    padding-right: 0px;
    padding-left: 6px !important; }
  .my-account-template .template-content .my-account-norton {
    text-align: right;
    margin-top: 5px; }
  .my-account-template .template-content .content-title {
    font-family: 'Archer Medium';
    font-size: 36px;
    color: #004EBC; }

.my-account-template .footer-grid-list hr {
  height: 0px; }

.my-account-communication-preferences {
  margin-top: 30px;
  margin-bottom: 30px; }

.my-account-communication-preferences h1 {
  font-family: "Avenir Heavy";
  font-size: 21px;
  color: #009DDB;
  margin: 0; }

.my-account-wish-list {
  margin-top: 30px;
  margin-bottom: 30px; }

.my-account-wish-list h1 {
  font-family: "Avenir Heavy";
  font-size: 21px;
  color: #009DDB;
  margin: 0; }

.my-account-my-registry {
  margin-top: 30px;
  margin-bottom: 30px; }

.my-account-my-registry h1 {
  font-family: "Avenir Heavy";
  font-size: 21px;
  color: #009DDB;
  margin: 0; }

.checkout-multiple-shipping {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: hidden; }
  .checkout-multiple-shipping .navbar-default.top-navbar > div > ul:first-child > li:first-child {
    margin-right: 20px; }
  .checkout-multiple-shipping .shopping-cart-product-information .shopping-cart-product-content a {
    color: #004EBC;
    cursor: pointer; }
    .checkout-multiple-shipping .shopping-cart-product-information .shopping-cart-product-content a:hover {
      text-decoration: underline;
      color: #ea7125; }
  .checkout-multiple-shipping .shipping-multiple-addresses {
    display: block;
    font-size: 14px !important; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-child(4) span:nth-child(2) > a {
      padding-left: 5px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-last-child(6) {
      height: 25px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-last-child(4) {
      padding-top: 5px; }
    .checkout-multiple-shipping .shipping-multiple-addresses span:nth-last-child(2) {
      padding-left: 5px;
      padding-right: 5px; }
  .checkout-multiple-shipping .single-address-link {
    font-family: "Avenir Heavy";
    font-size: 14px;
    color: #004EBC;
    cursor: pointer; }
    .checkout-multiple-shipping .single-address-link:hover {
      text-decoration: underline;
      color: #ea7125; }
  .checkout-multiple-shipping .shipping-default-header-text {
    font-family: 'Archer Medium'; }
  .checkout-multiple-shipping .shopping-cart-product-information div:nth-child(n+7) {
    padding-bottom: 0 !important; }
  .checkout-multiple-shipping .col-md-3.pull-right {
    padding-right: 6px; }
  .checkout-multiple-shipping .checkout-multiple-shipping-content {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px; }

.customer-service-template .template-content {
  padding-top: 135px;
  padding-left: 3.5%;
  padding-right: 3.5%; }
.customer-service-template .customer-service-help {
  padding-bottom: 20px; }

.store-locator-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }

.collections-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }
  .collections-template h2 {
    font-size: 32px;
    font-family: 'Archer Medium';
    color: #666666; }
  .collections-template .template-content {
    padding-top: 135px;
    padding-left: 3.5%;
    padding-right: 3.5%; }
  .collections-template .collection-header hr {
    margin-bottom: -10px; }
  .collections-template .my-account-product-carousel {
    background-color: white;
    margin-top: -15px; }
    .collections-template .my-account-product-carousel .product-carousel-title {
      font-size: 32px;
      font-family: 'Archer Medium';
      color: #666666; }
  .collections-template .recently-viewed-section-header {
    margin-top: -50px; }
    .collections-template .recently-viewed-section-header h3 {
      font-size: 32px;
      font-family: 'Archer Medium';
      color: #666666;
      margin-bottom: 25px; }
  .collections-template .recently-viewed-section-content {
    margin-bottom: 40px; }
  .collections-template .get-going-text {
    font-family: "Avenir Book";
    font-size: 11px;
    color: #666;
    margin-right: 5px; }
  .collections-template .category-breadcrumb > li {
    margin-right: 0px; }
  .collections-template .category-breadcrumb-dd .btn {
    padding: 0px; }
  .collections-template .sort-by-dropdown-arrow {
    left: 30px; }
  .collections-template .small-spacer {
    height: 10px; }
  .collections-template .fixed-nav {
    z-index: 1; }
  .collections-template .category-breadcrumb-dd .dropdown-menu {
    float: none;
    margin-top: 10px;
    background-color: #f3f3f3;
    border-radius: 0;
    border: 0px;
    box-shadow: 1px 1px 3px #D6D6D6;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    left: -15px; }

.layaway-template .template-content {
  margin-top: 105px !important;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-bottom: 50px;
  padding-top: 40px !important; }
  .layaway-template .template-content #guestMakePayment div {
    margin-top: 10px;
    margin-bottom: 10px; }
  .layaway-template .template-content #guestMakePayment > div {
    padding-left: 15px; }
  .layaway-template .template-content #guestMakePayment .remove-padding {
    padding: 0; }
  .layaway-template .template-content .customer-service-help {
    padding-bottom: 20px; }
    .layaway-template .template-content .customer-service-help p:nth-child(4) {
      display: none; }

.gift-card-landing-template .template-content {
  margin: 135px auto 0px;
  max-width: 1024px;
  display: block; }
  .gift-card-landing-template .template-content hr {
    margin-left: 10px;
    margin-right: 10px; }
  .gift-card-landing-template .template-content .gift-card-landing-description {
    margin-left: 20px;
    margin-right: 20px; }
  .gift-card-landing-template .template-content .gift-card-landing-options {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 15px; }
  .gift-card-landing-template .template-content .gift-card-landing-cards-zone {
    margin-left: 20px;
    margin-top: 40px; }
  .gift-card-landing-template .template-content .gift-card-landing-corporate {
    margin-top: 40px;
    margin-left: 20px; }
  .gift-card-landing-template .template-content .egift-card-breadcrumb {
    padding-left: 20px;
    margin-bottom: 25px; }

.egift-card-landing-template .template-content {
  margin-top: 105px !important;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-bottom: 50px;
  padding-top: 40px !important; }
  .egift-card-landing-template .template-content > div {
    margin-left: 10px; }
  .egift-card-landing-template .template-content .egift-content {
    margin-bottom: 75px; }
  .egift-card-landing-template .template-content > hr {
    margin-right: -10px; }
  .egift-card-landing-template .template-content h4 {
    font-family: "Avenir Heavy";
    font-size: 18px;
    color: #666666; }
  .egift-card-landing-template .template-content p {
    font-family: "Avenir Light";
    font-size: 16px;
    color: #666666; }
  .egift-card-landing-template .template-content .egift-content > hr {
    margin-left: -10px;
    margin-right: -10px; }
  .egift-card-landing-template .template-content .col-md-4 {
    padding: 8px; }

.egift-card-landing-form-template .template-content {
  margin-top: 145px;
  margin-left: 3.5%; }
  .egift-card-landing-form-template .template-content > div {
    margin-left: 10px; }
  .egift-card-landing-form-template .template-content > hr {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px; }
  .egift-card-landing-form-template .template-content .egift-card-form-footer {
    margin-top: 80px; }
  .egift-card-landing-form-template .template-content .terms-conditions {
    margin-top: 100px; }
  .egift-card-landing-form-template .template-content button:hover {
    background-color: #fff;
    color: #079ddb; }

.shop-by-template .template-content {
  margin-top: 105px !important;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-bottom: 50px;
  padding-top: 40px !important; }

.help-contact-us-template .top-ad-zone {
  margin-top: 115px !important; }
.help-contact-us-template .template-content {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 50px; }
  .help-contact-us-template .template-content > div {
    margin-left: 10px; }

.my-account-sign-in-template .template-content {
  margin-top: 130px; }
.my-account-sign-in-template .my-account-product-carousel {
  margin-top: 4%; }
.my-account-sign-in-template .footer-grid-list hr {
  height: 0; }

.help-customer-service-template .top-ad-zone {
  margin-top: 115px !important; }
.help-customer-service-template .template-content {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 50px; }
  .help-customer-service-template .template-content > div {
    margin-left: 10px; }
    .help-customer-service-template .template-content > div.help-customer-service-header {
      margin-top: 5px; }
  .help-customer-service-template .template-content .row {
    margin-top: 30px; }

.checkout-multiple-shipping {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: hidden; }
  .checkout-multiple-shipping .navbar-default.top-navbar > div > ul:first-child > li:first-child {
    margin-right: 20px; }
  .checkout-multiple-shipping .shopping-cart-product-information .shopping-cart-product-content a {
    color: #004EBC;
    cursor: pointer; }
    .checkout-multiple-shipping .shopping-cart-product-information .shopping-cart-product-content a:hover {
      text-decoration: underline;
      color: #ea7125; }
  .checkout-multiple-shipping .shipping-multiple-addresses {
    display: block;
    font-size: 14px !important; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-child(4) span:nth-child(2) > a {
      padding-left: 5px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-last-child(6) {
      height: 25px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-last-child(4) {
      padding-top: 5px; }
    .checkout-multiple-shipping .shipping-multiple-addresses span:nth-last-child(2) {
      padding-left: 5px;
      padding-right: 5px; }
  .checkout-multiple-shipping .single-address-link {
    font-family: "Avenir Heavy";
    font-size: 14px;
    color: #004EBC;
    cursor: pointer; }
    .checkout-multiple-shipping .single-address-link:hover {
      text-decoration: underline;
      color: #ea7125; }
  .checkout-multiple-shipping .shipping-default-header-text {
    font-family: 'Archer Medium'; }
  .checkout-multiple-shipping .shopping-cart-product-information div:nth-child(n+7) {
    padding-bottom: 0 !important; }
  .checkout-multiple-shipping .col-md-3.pull-right {
    padding-right: 6px; }
  .checkout-multiple-shipping .checkout-multiple-shipping-content {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px; }

.gift-finder-results-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }
  .gift-finder-results-template .ad-zone-970-90 {
    margin-top: 15px;
    margin-bottom: 10px; }
  .gift-finder-results-template #filtered-products {
    position: relative; }
    .gift-finder-results-template #filtered-products > div.row-footer-margin div:first-child.row-no-padding {
      padding-top: 40px;
      padding-bottom: 1%;
      position: relative; }
    .gift-finder-results-template #filtered-products > div.row-footer-margin div.row-no-padding {
      padding-top: 20px;
      padding-bottom: 1%;
      position: relative; }
  .gift-finder-results-template #loadMoreProducts {
    font-size: 18px;
    color: #fff;
    font-family: "Avenir Heavy"; }
    .gift-finder-results-template #loadMoreProducts .family-show-all {
      font-size: 12px; }

.search-template .search-main-footer > div.row {
  margin-top: 10px; }
.search-template .lego-background .row-footer-margin div.row:first-child .col-md-1 {
  margin-top: 20px;
  margin-right: 15px; }
.search-template .lego-background .row-footer-margin div.row:last-child > div {
  margin-top: 20px; }
.search-template #narrow-by-scroll .compare-overlay-menu {
  width: 100%;
  float: right;
  position: absolute;
  z-index: 1000;
  border-top: 8px solid #009DDB; }
.search-template #narrow-by-scroll .compare-product-selection {
  border-bottom: 8px solid #ccc;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%; }
.search-template #filtered-products {
  position: relative; }
  .search-template #filtered-products > div.row-footer-margin > div:nth-child(1) {
    padding-top: 40px;
    padding-bottom: 1%;
    position: relative; }
  .search-template #filtered-products > div.row-footer-margin > div:nth-child(2), .search-template #filtered-products > div.row-footer-margin > div:nth-child(3) {
    padding-top: 25px;
    padding-bottom: 1%; }
  .search-template #filtered-products .load-more-products > div.row {
    padding-top: 25px;
    padding-bottom: 1%; }
.search-template .search-breadcrumb-block {
  padding-left: 4%;
  margin: 0px;
   font-weight: bold; }
.search-template .search-main-search-block {
  margin-left: 4%; }
.search-template .suggested-search-block {
  padding-left: 4%; }
.search-template .fixed-narrow-menu.sticky {
  position: fixed;
  top: 0px;
  z-index: 100000;
  background-color: white;
  width: 100%; }
.search-template .fixed-narrow-menu.sticky + .sticky-menu-placeholder {
  display: block;
  height: 79px; }
.search-template .fixed-narrow-menu.sticky.compare-menu-shown + .sticky-menu-placeholder {
  display: block;
  height: 297px; }
.search-template .row-container {
  padding: 10px 10px 0px 10px;
  position: relative;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }
.search-template .row-container:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0; }
.search-template .row > .product-block {
  max-width: 24%;
  height: auto;
  width: auto\9;
  display: inline-block;
  *display: inline; }
.search-template .brand-header > a, .search-template .brand-header > a:visited {
  outline: none;
  text-decoration: none; }

.fixed-narrow-menu.sticky {
  position: fixed;
  top: 0px;
  z-index: 100000;
  background-color: white;
  width: 100%; }

.row-container {
  padding: 10px 10px 0px 10px;
  position: relative;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }

.row-container:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0; }

.row > .product-block {
  max-width: 24%;
  height: auto;
  width: auto\9;
  display: inline-block;
  *display: inline; }

.col-narrow-by {
  padding-top: 10px;
  padding-left: 0px !important; }

.baby-registry-menu.sub-category {
  width: 892px;
  float: left;
  margin-top: -220px;
  position: absolute;
  
  background-color: #f2f2f2;
  z-index: 1000; }

.sub-category-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }
  .sub-category-template .fixed-narrow-menu .narrow-by-row {
    margin-left: 4%;
    margin-right: 4%; }
  .sub-category-template .fixed-narrow-menu > div:nth-child(2) {
    margin-left: 4%;
    margin-right: 4%; }
  .sub-category-template .fixed-narrow-menu .compare-overlay-menu {
    display: none;
    width: 100%;
    float: right;
    position: absolute;
    z-index: 1000;
    border-top: 8px solid #009DDB; }
  .sub-category-template .fixed-narrow-menu .compare-product-selection {
    border-bottom: 8px solid #ccc;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%; }
  .sub-category-template .row-footer-margin > .row > .col-md-12 > div {
    font-family: 'Archer Light';
    font-size: 32px;
    color: #999999; }
  .sub-category-template .row-footer-margin > div:nth-child(2) > div.col-md-12 {
    margin-top: 20px; }
  .sub-category-template #filtered-products {
    position: relative; }
    .sub-category-template #filtered-products > div:nth-child(2) > div:nth-child(1) {
      padding-top: 40px;
      padding-bottom: 1%;
      position: relative; }
    .sub-category-template #filtered-products > div:nth-child(2) > div:nth-child(2) {
      padding-top: 25px;
      padding-bottom: 1%; }
    .sub-category-template #filtered-products > div:nth-child(2) > div:nth-child(3) {
      padding-top: 25px;
      padding-bottom: 1%; }
    .sub-category-template #filtered-products .load-more-products > .row-no-padding {
      padding-top: 25px;
      padding-bottom: 1%; }
  .sub-category-template #narrow-by-scroll + div {
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 4%; }
    .sub-category-template #narrow-by-scroll + div + div {
      margin-top: 50px;
      margin-left: 4%;
      margin-right: 4%; }
      .sub-category-template #narrow-by-scroll + div + div + div {
        margin-left: 4%;
        margin-right: 4%; }
        .sub-category-template #narrow-by-scroll + div + div + div > .row {
          margin-top: 60px; }
          .sub-category-template #narrow-by-scroll + div + div + div > .row > div:nth-child(2) {
            padding-top: 40px; }

.toys-styleguide h1 {
  color: #004EBC;
  font-family: "Archer Medium";
  margin-bottom: 20px;
  font-size: 48px; }
.toys-styleguide h2, .toys-styleguide h3, .toys-styleguide h4, .toys-styleguide h5, .toys-styleguide h6 {
  color: #009DDB;
  font-family: "Avenir Heavy";
  margin-bottom: 20px; }
.toys-styleguide .col-md-1, .toys-styleguide .col-md-8, .toys-styleguide .col-md-4, .toys-styleguide .col-md-6 {
  background-color: rgba(86, 61, 124, 0.15);
  border: 3px solid white;
  height: 75px;
  text-align: center; }
  .toys-styleguide .col-md-1 span, .toys-styleguide .col-md-8 span, .toys-styleguide .col-md-4 span, .toys-styleguide .col-md-6 span {
    position: relative;
    top: 25px; }
.toys-styleguide p {
  margin-bottom: 15px;
  color: #666666;
  font-size: 16px;
  line-height: 1.25; }
.toys-styleguide .primary-text-image {
  padding-bottom: 5px; }
.toys-styleguide .where-is-it {
  font-family: "Avenir Medium";
  color: #009DDB; }
.toys-styleguide .where-is-it:hover {
  text-decoration: underline;
  color: #666666; }
.toys-styleguide .popover {
  z-index: 20;
  padding: 10px; }

.fao-styleguide button {
  background-color: #d71535;
  border-color: #d71535; }
  .fao-styleguide button:hover {
    color: #d71535; }
.fao-styleguide h2, .fao-styleguide h3 {
  color: #d71535;
  font-family: "warnock-semibold-display"; }
.fao-styleguide .col-md-1, .fao-styleguide .col-md-8, .fao-styleguide .col-md-4, .fao-styleguide .col-md-6 {
  text-align: center;
  background-color: rgba(86, 61, 124, 0.15);
  color: #d71535;
  font-family: "warnock-semibold-display";
  border: 3px solid white;
  height: 75px; }
  .fao-styleguide .col-md-1 span, .fao-styleguide .col-md-8 span, .fao-styleguide .col-md-4 span, .fao-styleguide .col-md-6 span {
    position: relative;
    top: 25px; }
.fao-styleguide .typography-section p {
  color: #666;
  font-family: "warnock-semibold-display"; }
.fao-styleguide .typography-section h1, .fao-styleguide .typography-section h2, .fao-styleguide .typography-section h3, .fao-styleguide .typography-section h4, .fao-styleguide .typography-section h5, .fao-styleguide .typography-section h6 {
  color: #d71535;
  font-family: "warnock-semibold-display"; }

.cyan-link, .cyan-link:visited {
  color: #009DDB;
  font-family: "Avenir Medium"; }

.cyan-link:hover {
  text-decoration: underline;
  color: #666666; }

.gray-link, .gray-link:visited {
  color: #666666;
  font-family: "Avenir Medium"; }

.gray-link:hover {
  color: #009DDB;
  text-decoration: underline; }

.blue-link, .blue-link:visited {
  color: #004EBC;
  font-family: "Avenir Medium"; }

.purple-link:hover {
  color: #EA7125;
  text-decoration: underline; }

.puple-link, .purple-link:visited {
  color: #5E2D91;
  font-family: "Avenir Medium"; }

.blue-link:hover {
  color: #EA7125;
  text-decoration: underline; }

.primary-text-link, .primary-text-link:visited {
  color: #004EBC;
  font-family: "Avenir Medium";
  font-size: 20px;
  margin-top: 20px;
  display: inline-block; }

.primary-text-link:hover {
  color: #666666; }

.primary-text-link-bru, .primary-text-link-bru:visited {
  color: #5E2D91;
  font-family: "Avenir Medium";
  font-size: 20px;
  margin-top: 20px;
  display: inline-block; }

.primary-text-link-bru:hover {
  color: #666666; }

.style-guide-margin {
  margin-top: 20px; }

.archer-typography-section {
  font-family: "Archer Light"; }
  .archer-typography-section h2 {
    font-family: "Archer Medium"; }
  .archer-typography-section p {
    font-family: "Archer Light"; }

.babies-styleguide h1 {
  color: #666;
  font-family: "Archer Medium";
  margin-bottom: 20px;
  font-size: 48px; }
.babies-styleguide h2, .babies-styleguide h3, .babies-styleguide h4, .babies-styleguide h5, .babies-styleguide h6 {
  color: #666;
  font-family: "Avenir Heavy";
  margin-bottom: 20px; }
.babies-styleguide p {
  margin-bottom: 15px; }

.home-template .carousel-margin {
  margin-top: 100px; }

.home-template .ad-zone-970-90 {
  margin-bottom: 20px; }

.min-width {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }

.max-width {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }

.block-3-column {
  padding: 0 2px; }

.block-3-row {
  margin: 0 -2px; }

.home-template .padded-hr {
  margin-bottom: 35px;
  margin-top: 45px; }

.left-column-4 {
  padding-right: 16%; }

.middle-column-4 {
  padding-right: 16%;
  padding-left: 16%; }

.right-column-4 {
  padding-left: 16%; }

.home-template .max-width {
  max-width: 1300px; }

.shopping-cart-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: hidden; }
  .shopping-cart-template .shopping-cart-nav nav {
    padding-left: 4%;
    padding-right: 4%; }
  .shopping-cart-template .default-margin {
    margin-top: 11px;
    margin-left: 2%;
    margin-right: 2%; }
  .shopping-cart-template .cart-products {
    min-width: 720px; }
  .shopping-cart-template .product-information-header, .shopping-cart-template .shopping-cart-product-content {
    padding-left: 10px;
    padding-right: 10px; }
  .shopping-cart-template #order-summary-block {
    min-width: 270px;
    width: 270px;
    margin-left: 5px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 314px;
    z-index: 1;
    background-color: white; }
    .shopping-cart-template #order-summary-block .summary-block-footer-points {
      display: none; }
    .shopping-cart-template #order-summary-block .shopping-cart-promo-code .promo-header a:last-child {
      display: none; }
  .shopping-cart-template .customers-also-purchased {
    margin-left: 4%;
    margin-right: 4%; }
  .shopping-cart-template .shopping-cart-grey {
    background-color: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 85px; }
  .shopping-cart-template .protection-plan {
    margin-top: 25px;
    margin-bottom: 25px; }

.category-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }
  .category-template .row-category-header {
    margin-top: 105px; }
  .category-template > div.row.default-margin {
    margin-top: 40px; }
  .category-template hr {
    margin-bottom: 0px;
    margin-top: 20px; }
  .category-template .row-strollers {
    margin-bottom: 10px; }
  .category-template .brand-block-row {
    margin-bottom: 50px; }
    .category-template .brand-block-row img {
      width: 80%;
      height: auto; }
  .category-template .category-ad-row {
    margin-top: 40px; }

.checkout-gifting-template .navbar-default.top-navbar > div > ul:first-child > li:first-child {
  margin-right: 20px; }
.checkout-gifting-template .default-margin {
  margin-top: 30px; }
.checkout-gifting-template .no-gift-options .col-md-8 {
  display: none; }
.checkout-gifting-template .no-gift-options .registry-product-content > div.row:last-child {
  display: none; }

.checkout-payment-template .navbar-default.top-navbar > div > ul:first-child > li:first-child {
  margin-right: 20px; }
.checkout-payment-template > .default-margin {
  margin-top: 30px; }

.checkout-review-template .navbar-default.top-navbar > div > ul:first-child > li:first-child {
  margin-right: 20px; }
.checkout-review-template > .default-margin {
  margin-top: 30px; }

.template-family #filtered-products {
  position: relative; }
  .template-family #filtered-products .filtered-products-padding {
    padding-top: 25px;
    padding-bottom: 1%;
    position: relative; }
  .template-family #filtered-products .filtered-products-padding-top {
    padding-top: 40px;
    padding-bottom: 1%;
    position: relative; }
.template-family .compare-product-selection {
  border-bottom: 8px solid #ccc;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%; }
.template-family .family-footer > div.row {
  margin-top: 30px; }
  .template-family .family-footer > div.row .col-md-9 {
    padding-top: 40px; }

.fao-editorial-template .template-content {
  margin-top: 99px; }
.fao-editorial-template .editorial-magnify-overlap {
  background-color: rgba(255, 255, 255, 0.8); }
.fao-editorial-template .fao-editorial-quote-block {
  margin-top: 80px;
  margin-bottom: 60px; }
.fao-editorial-template .fao-editorial-fact-block {
  margin-top: 65px;
  margin-bottom: 50px; }
  .fao-editorial-template .fao-editorial-fact-block .row {
    margin: 0 auto;
    width: 685px; }
    .fao-editorial-template .fao-editorial-fact-block .row > div:first-child {
      width: 450px;
      float: left;
      line-height: 1.5em;
      margin-top: 15px; }
    .fao-editorial-template .fao-editorial-fact-block .row > div:last-child {
      cursor: pointer;
      margin-left: 5%;
      float: left; }
      .fao-editorial-template .fao-editorial-fact-block .row > div:last-child .flagship-image-group .editorial-magnify-overlap {
        display: inline-block;
        display: none;
        position: relative;
        text-align: center;
        top: 61px;
        right: 38px;
        width: 35px;
        height: 32px; }
        .fao-editorial-template .fao-editorial-fact-block .row > div:last-child .flagship-image-group .editorial-magnify-overlap img {
          padding-top: 5px; }

.fao-home-template .template-content {
  margin-top: 99px;
  height: 100%; }
  .fao-home-template .template-content > div:not(:first-child):not(:nth-child(2)) {
    background-color: #f3f3f3;
    height: 600px;
    width: 100%;
    overflow: hidden; }
    .fao-home-template .template-content > div:not(:first-child):not(:nth-child(2)):first-child {
      height: 490px; }
  .fao-home-template .template-content .p1 {
    font-family: 'Archer Medium';
    font-size: 48px; }
  .fao-home-template .template-content .p2 {
    font-family: 'Archer Bold';
    font-size: 96px;
    opacity: 0.6; }
  .fao-home-template .template-content .toy-advisor-tab {
    position: absolute;
    top: 350px; }
  .fao-home-template .template-content #section-1 {
    text-align: center; }
    .fao-home-template .template-content #section-1 .section-bg {
      width: 100%;
      height: 100%;
      background: url('../images/fao/home/wishes-back.jpg') no-repeat;
      background-size: cover; }
  .fao-home-template .template-content #section-2 {
    text-align: center; }
    .fao-home-template .template-content #section-2 .section-bg, .fao-home-template .template-content #section-2 .section-md {
      width: 100%;
      height: 100%; }
    .fao-home-template .template-content #section-2 .section-bg {
      z-index: -10;
      background: url('../images/fao/home/schweetz-back.jpg') no-repeat;
      background-size: cover;
      background-size: 1200px; }
    .fao-home-template .template-content #section-2 .section-md {
      background-position-x: right !important;
      background: url('../images/fao/home/schweetz-mid.png1') no-repeat; }
    .fao-home-template .template-content #section-2 .fao-home-text-block {
      margin-left: 105px; }
    .fao-home-template .template-content #section-2 .schweetz-mid-image {
      position: absolute;
      right: 0px;
      top: 0px; }
  .fao-home-template .template-content #section-3 .fao-home-text-block {
    top: 235px; }
  .fao-home-template .template-content #section-3 .section-bg, .fao-home-template .template-content #section-3 .section-md {
    width: 100%;
    height: 100%; }
  .fao-home-template .template-content #section-3 .section-bg {
    z-index: -10;
    background: url('../images/fao/home/classics-back.jpg') no-repeat;
    background-size: cover;
    height: 700px; }
  .fao-home-template .template-content #section-3 .section-md {
    background-position: right top;
    background: url('../images/fao/home/classics-mid.png') no-repeat;
    background-position-y: -110px; }
  .fao-home-template .template-content #section-4 {
    text-align: center; }
    .fao-home-template .template-content #section-4 .fao-home-text-block {
      top: 235px; }
    .fao-home-template .template-content #section-4 .section-bg, .fao-home-template .template-content #section-4 .section-md {
      width: 100%;
      height: 100%; }
    .fao-home-template .template-content #section-4 .section-bg {
      z-index: -10;
      background: url('../images/fao/home/muppets-back.jpg') no-repeat;
      background-size: cover; }
    .fao-home-template .template-content #section-4 .section-md {
      background-size: cover !important;
      background: url('../images/fao/home/muppets-mid.png1') no-repeat; }
    .fao-home-template .template-content #section-4 .muppet-bottom-left {
      position: absolute;
      left: 0px;
      bottom: -100px; }
    .fao-home-template .template-content #section-4 .muppet-bottom-center {
      position: absolute;
      bottom: -100px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    .fao-home-template .template-content #section-4 .muppet-bottom-right {
      position: absolute;
      right: 0px;
      bottom: -100px; }
    .fao-home-template .template-content #section-4 .muppet-top-right {
      position: absolute;
      right: 0px;
      top: 100px; }
    .fao-home-template .template-content #section-4 .muppet-top-left {
      position: absolute;
      left: 0px;
      top: 100px; }
  .fao-home-template .template-content #section-5 .fao-home-text-block {
    top: 145px; }
  .fao-home-template .template-content #section-5 .section-bg, .fao-home-template .template-content #section-5 .section-md {
    width: 100%;
    height: 100%; }
  .fao-home-template .template-content #section-5 .section-bg {
    z-index: -10;
    background: url('../images/fao/home/shopper-back.jpg') no-repeat;
    background-size: cover; }
  .fao-home-template .template-content #section-5 .section-md {
    background-size: cover !important;
    background: url('../images/fao/home/shopper-mid.png') no-repeat;
    background-position-y: -60px; }
  .fao-home-template .template-content .fao-home-text-block {
    z-index: 15; }
  .fao-home-template .template-content .fao-factoid-outer {
    display: block;
    z-index: 10;
    position: relative; }
    .fao-home-template .template-content .fao-factoid-outer .fao-factoid {
      position: absolute;
      height: 80px;
      background-image: none;
      background-color: rgba(255, 255, 255, 0.902); }
      .fao-home-template .template-content .fao-factoid-outer .fao-factoid span {
        line-height: 80px; }
.search-template .did-you-mean span {
    color: #004EBC;
}