    <div class="babies-styleguide">

        <h2>Babies"R"Us</h2>

        <h3>Color</h3>

        <div class="f-color-chip f-color-chip--primary">
            <div class="f-color-chip__name">Purple (#5E2D91)</div>
            <div class="f-color-chip__color">rgb(94, 45, 145)</div>
           <!-- <div>Variable: $secondary-color</div>-->
        </div>

        <div class="f-color-chip f-color-chip--primary margin-bottom">
            <div class="f-color-chip__name">Grey (#666666)</div>
            <div class="f-color-chip__color">rgb(102,102,102)</div>
            <!--<div>Variable: $primary-color</div>-->
        </div>

        <hr>

        <h3>Typography</h3>

        <div class="archer-typography-section">
            <h2>Archer Heading</h2>
            <p>Archer paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta
            inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe
            sint cupiditate reiciendis.</p>
        </div>

       

        <h2>Avenir Heading</h2>

        <p>Avenir paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta
            inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe
            sint cupiditate reiciendis.</p>

        <h1>Heading Level 1</h1>

        <h2>Heading Level 2</h2>

        <h3>Heading Level 3</h3>
        <h4>Heading Level 4</h4>
        <h5>Heading Level 5</h5>
        <h6>Heading Level 6</h6>


        <hr/>

        <h3>Hover States</h3>

        <p><a href="#" class="purple-link">purple link</a></p>
        <p><a href="#" class="cyan-link">cyan link</a></p>
        <p><a href="#" class="gray-link">gray link</a></p>

        <a href="#" class="primary-text-link-bru">primary text links</a> <img src="toolkit/images/gift-card/right-arrow-gray.png" class="primary-text-image" alt="right arrow">
        <hr>
    </div>