<div class="fao-styleguide">
        <h2>FAO</h2>

        <h3>Links</h3>

         <ul>
          <li>
            <a href="toolkit/styles/fao.css" target="_blank" class="cyan-link">fao-toolkit.css</a>
        </li>
         <li>
            <a href="toolkit/styles/fao-components.css" target="_blank" class="cyan-link">fao-components.css</a>
        </li>
         <li>
            <a href="toolkit/styles/fao-structures.css" target="_blank" class="cyan-link">fao-structures.css</a>
        </li>
        <li>
            <a href="toolkit/styles/fao-templates.css" target="_blank" class="cyan-link">fao-templates.css</a>
        </li>
        </ul>



     




        <h3>Colors</h3>

        <div class="f-color-chip f-color-chip--primary">
            <div class="f-color-chip__name">Red (#cf0017)</div>
            <div class="f-color-chip__color">rgb(207,0,23)</div>
            <div>Variable: $primary-color</div>
            <div>Variable: $add-to-cart-color</div>
            <div>Variable: $special-offers-color</div>
        </div>
        <hr>
        <h3>Typography</h3>

        <div class="typography-section">
            <h2>Warnock Heading</h2>
            <p>Warnock paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>

            <h1>Heading Level 1</h1>

            <h2>Heading Level 2</h2>

            <h3>Heading Level 3</h3>
            <h4>Heading Level 4</h4>
            <h5>Heading Level 5</h5>
            <h6>Heading Level 6</h6>
        </div>
        <hr/>

    <h3>Hover States</h3>
    <p>
        <div class="egift-card-form-footer" style="float:none;">
            <button style="float:none;margin:0px;width:150px;">CTA button</button>
        </div>
    </p>

        <hr/>
    <h3>Page Layout</h3>

    <p>Page layouts use the twitter bootstrap css grid system. Column layouts are defined using .col-md-* grid classes. Below is a visual diagram representing available layouts within the 12 grid configuration.</p>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
        </div>
        <div class="row show-grid">
          <div class="col-md-8"><span>.col-md-8</span></div>
          <div class="col-md-4"><span>.col-md-4</span></div>
        </div>
        <div class="row show-grid">
          <div class="col-md-4"><span>.col-md-4</span></div>
          <div class="col-md-4"><span>.col-md-4</span></div>
          <div class="col-md-4"><span>.col-md-4</span></div>
        </div>
        <div class="row show-grid">
          <div class="col-md-6"><span>.col-md-6</span></div>
          <div class="col-md-6"><span>.col-md-6</span></div>
        </div>
    </div>
</div>