<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Toolkit</title>

    {{#if fabricator}}<!-- fabricator styles -->
    <link rel="stylesheet" href="fabricator/styles/f.css">
    <!-- /fabricator styles -->{{/if}}

    <!-- toolkit styles -->
    <link rel="stylesheet" href="toolkit/styles/toolkit.css">
    <link rel="stylesheet" href="toolkit/styles/components.css"/>
    <link rel="stylesheet" href="toolkit/styles/structures.css"/>
    <link rel="stylesheet" href="toolkit/styles/templates.css"/>
    <!-- /toolkit styles -->

    {{#if fao}}
        {{#unless fabricator}}
            <link rel="stylesheet" href="toolkit/styles/fao.css">
            <link rel="stylesheet" href="toolkit/styles/fao-components.css"/>
            <link rel="stylesheet" href="toolkit/styles/fao-structures.css"/>
            <link rel="stylesheet" href="toolkit/styles/fao-templates.css"/>
        {{/unless}}
    {{/if}}

    <!-- LOADING GOOGLE MAPS-->
    <script type="text/javascript">
    window.google = window.google || {};
    google.maps = google.maps || {};
    (function() {
      
      function getScript(src) {
        document.write('<' + 'script src="' + src + '"><' + '/script>');
      }
      
      var modules = google.maps.modules = {};
      google.maps.__gjsload__ = function(name, text) {
        modules[name] = text;
      };
      
      google.maps.Load = function(apiLoad) {
        delete google.maps.Load;
        apiLoad([0.009999999776482582,[[["http://mt0.googleapis.com/vt?lyrs=m@292000000\u0026src=api\u0026hl=en-US\u0026","http://mt1.googleapis.com/vt?lyrs=m@292000000\u0026src=api\u0026hl=en-US\u0026"],null,null,null,null,"m@292000000",["https://mts0.google.com/vt?lyrs=m@292000000\u0026src=api\u0026hl=en-US\u0026","https://mts1.google.com/vt?lyrs=m@292000000\u0026src=api\u0026hl=en-US\u0026"]],[["http://khm0.googleapis.com/kh?v=166\u0026hl=en-US\u0026","http://khm1.googleapis.com/kh?v=166\u0026hl=en-US\u0026"],null,null,null,1,"166",["https://khms0.google.com/kh?v=166\u0026hl=en-US\u0026","https://khms1.google.com/kh?v=166\u0026hl=en-US\u0026"]],[["http://mt0.googleapis.com/vt?lyrs=h@292000000\u0026src=api\u0026hl=en-US\u0026","http://mt1.googleapis.com/vt?lyrs=h@292000000\u0026src=api\u0026hl=en-US\u0026"],null,null,null,null,"h@292000000",["https://mts0.google.com/vt?lyrs=h@292000000\u0026src=api\u0026hl=en-US\u0026","https://mts1.google.com/vt?lyrs=h@292000000\u0026src=api\u0026hl=en-US\u0026"]],[["http://mt0.googleapis.com/vt?lyrs=t@132,r@292000000\u0026src=api\u0026hl=en-US\u0026","http://mt1.googleapis.com/vt?lyrs=t@132,r@292000000\u0026src=api\u0026hl=en-US\u0026"],null,null,null,null,"t@132,r@292000000",["https://mts0.google.com/vt?lyrs=t@132,r@292000000\u0026src=api\u0026hl=en-US\u0026","https://mts1.google.com/vt?lyrs=t@132,r@292000000\u0026src=api\u0026hl=en-US\u0026"]],null,null,[["http://cbk0.googleapis.com/cbk?","http://cbk1.googleapis.com/cbk?"]],[["http://khm0.googleapis.com/kh?v=84\u0026hl=en-US\u0026","http://khm1.googleapis.com/kh?v=84\u0026hl=en-US\u0026"],null,null,null,null,"84",["https://khms0.google.com/kh?v=84\u0026hl=en-US\u0026","https://khms1.google.com/kh?v=84\u0026hl=en-US\u0026"]],[["http://mt0.googleapis.com/mapslt?hl=en-US\u0026","http://mt1.googleapis.com/mapslt?hl=en-US\u0026"]],[["http://mt0.googleapis.com/mapslt/ft?hl=en-US\u0026","http://mt1.googleapis.com/mapslt/ft?hl=en-US\u0026"]],[["http://mt0.googleapis.com/vt?hl=en-US\u0026","http://mt1.googleapis.com/vt?hl=en-US\u0026"]],[["http://mt0.googleapis.com/mapslt/loom?hl=en-US\u0026","http://mt1.googleapis.com/mapslt/loom?hl=en-US\u0026"]],[["https://mts0.googleapis.com/mapslt?hl=en-US\u0026","https://mts1.googleapis.com/mapslt?hl=en-US\u0026"]],[["https://mts0.googleapis.com/mapslt/ft?hl=en-US\u0026","https://mts1.googleapis.com/mapslt/ft?hl=en-US\u0026"]],[["https://mts0.googleapis.com/mapslt/loom?hl=en-US\u0026","https://mts1.googleapis.com/mapslt/loom?hl=en-US\u0026"]]],["en-US","US",null,0,null,null,"http://maps.gstatic.com/mapfiles/","http://csi.gstatic.com","https://maps.googleapis.com","http://maps.googleapis.com",null,"https://maps.google.com","https://csi.gstatic.com","http://maps.gstatic.com/maps-api-v3/api/images/"],["http://maps.gstatic.com/maps-api-v3/api/js/19/10","3.19.10"],[1110885197],1,null,null,null,null,null,"",null,null,0,"http://khm.googleapis.com/mz?v=166\u0026",null,"https://earthbuilder.googleapis.com","https://earthbuilder.googleapis.com",null,"http://mt.googleapis.com/vt/icon",[["http://mt0.googleapis.com/vt","http://mt1.googleapis.com/vt"],["https://mts0.googleapis.com/vt","https://mts1.googleapis.com/vt"],null,null,null,null,null,null,null,null,null,null,["https://mts0.google.com/vt","https://mts1.google.com/vt"],"/maps/vt",292000000,132],2,500,[null,"http://g0.gstatic.com/landmark/tour","http://g0.gstatic.com/landmark/config","","http://www.google.com/maps/preview/log204","","http://static.panoramio.com.storage.googleapis.com/photos/",["http://geo0.ggpht.com/cbk","http://geo1.ggpht.com/cbk","http://geo2.ggpht.com/cbk","http://geo3.ggpht.com/cbk"]],["https://www.google.com/maps/api/js/master?pb=!1m2!1u19!2s10!2sen-US!3sUS!4s19/10","https://www.google.com/maps/api/js/widget?pb=!1m2!1u19!2s10!2sen-US"],null,0,0], loadScriptTime);
      };
      var loadScriptTime = (new Date).getTime();
      getScript("http://maps.gstatic.com/maps-api-v3/api/js/19/10/main.js");
    })();
    </script>
    <!-- END LOADING GOOGLE MAPS-->

</head>
<body>

{{#if fabricator}}<!-- fabricator icons -->
<svg style="display: none;">
    <symbol id="f-icon-code" viewBox="0 0 34 32">
        <path d="M.804 17.143q0-.232.179-.411l8.321-8.321q.179-.179.411-.179t.411.179l.893.893q.179.179.179.411t-.179.411l-7.018 7.018 7.018 7.018q.179.179.179.411t-.179.411l-.893.893q-.179.179-.411.179t-.411-.179l-8.321-8.321q-.179-.179-.179-.411zm11.91 11.214l6.661-23.054q.071-.232.277-.348t.42-.045l1.107.304q.232.071.348.277t.045.438l-6.661 23.054q-.071.232-.277.348t-.42.045l-1.107-.304q-.232-.071-.348-.277t-.045-.438zm10.375-3.786q0-.232.179-.411l7.018-7.018-7.018-7.018q-.179-.179-.179-.411t.179-.411l.893-.893q.179-.179.411-.179t.411.179l8.321 8.321q.179.179.179.411t-.179.411l-8.321 8.321q-.179.179-.411.179t-.411-.179l-.893-.893q-.179-.179-.179-.411z"/>
    </symbol>
    <symbol id="f-icon-notes" viewBox="0 0 32 32">
        <path d="M26.667 1.333h-22.667c-2.205 0-4 1.795-4 4v16c0 2.205 2.667 2.667 4 2.667v8l12-8h10.667c2.205 0 4-1.795 4-4v-14.667c0-2.205-1.795-4-4-4zm1.333 18.667c0 .735-.599 1.333-1.333 1.333h-12l-8 6.667v-6.667h-2.667c-.735 0-1.333-.599-1.333-1.333v-14.667c0-.735.599-1.333 1.333-1.333h22.667c.735 0 1.333.599 1.333 1.333v14.667z"/>
    </symbol>
    <symbol id="f-icon-details" viewBox="0 0 25 32">
        <path d="M0 16.571v-3.429q0-.714.5-1.214t1.214-.5h3.429q.714 0 1.214.5t.5 1.214v3.429q0 .714-.5 1.214t-1.214.5h-3.429q-.714 0-1.214-.5t-.5-1.214zm9.143 0v-3.429q0-.714.5-1.214t1.214-.5h3.429q.714 0 1.214.5t.5 1.214v3.429q0 .714-.5 1.214t-1.214.5h-3.429q-.714 0-1.214-.5t-.5-1.214zm9.143 0v-3.429q0-.714.5-1.214t1.214-.5h3.429q.714 0 1.214.5t.5 1.214v3.429q0 .714-.5 1.214t-1.214.5h-3.429q-.714 0-1.214-.5t-.5-1.214z"/>
    </symbol>
    <symbol id="f-icon-menu" viewBox="0 0 32 32">
        <path d="M0 0h32v2h-32zM0 6h32v2h-32zM0 12h32v2h-32zM0 18h32v2h-32zM0 24h32v2h-32z"/>
    </symbol>
</svg>
<!-- /fabricator icons -->{{/if}}
