<nav class="f-menu" role="navigation">

	<div class="f-controls">
		<div class="f-icon" data-f-toggle-control="details" title="toggle details">
			<svg>
				<use xlink:href="#f-icon-details" />
			</svg>
		</div>
		<div class="f-icon" data-f-toggle-control="notes" title="toggle notes">
			<svg>
				<use xlink:href="#f-icon-notes" />
			</svg>
		</div>
		<div class="f-icon" data-f-toggle-control="code" title="toggle code">
			<svg>
				<use xlink:href="#f-icon-code" />
			</svg>
		</div>
	</div>

	<ul>
		<li>
			<a href="index.html" class="f-menu__heading">Overview</a>
		</li>
		<li>
			<a href="components.html" class="f-menu__heading">Components</a>
			<ul>
				{{#each components}}
					<li>
						<a href="components.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li>
			<a href="structures.html" class="f-menu__heading">Structures</a>
			<ul>
				{{#each structures}}
					<li>
						<a href="structures.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li>
			<a href="templates.html" class="f-menu__heading">Templates</a>
			<ul>
				{{#each templates}}
					<li>
						<a href="template-{{id}}.html">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
        <li>
            <a href="#" class="f-menu__heading">FAO Templates</a>
            <ul>
                {{#each templates}}
                <li>
                    <a href="fao-template-{{id}}.html">FAO: {{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
		<li>
			<a href="documentation.html" class="f-menu__heading">Documentation</a>
			<ul>
				{{#each documentation}}
					<li>
						<a href="documentation.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
	</ul>
</nav>