
	{{#if fabricator}}<!-- fabricator scripts -->
	<script src="fabricator/scripts/f.js"></script>
	<!-- /fabricator scripts -->{{/if}}

	<!-- toolkit scripts -->
    <script src="toolkit/scripts/vendor.js"></script>
    {{#if fao}}
    <script type="text/javascript">
        $("body").addClass("fao");
    </script>
    {{/if}}
    <script src="toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

</body>
</html>
