<div class="toys-styleguide">

        <h2>Toys"R"Us</h2>

        <h3>Color</h3>

        <div class="f-color-chip f-color-chip--primary">
            <div class="f-color-chip__name">Dark (#004EBC)</div>
            <div class="f-color-chip__color">rgb(0, 78, 188)</div>
           <!-- <div>Variable: $secondary-color</div>-->
        </div>

        <div class="f-color-chip f-color-chip--primary margin-bottom">
            <div class="f-color-chip__name">Light (#009DDB)</div>
            <div class="f-color-chip__color">rgb(0,157,219)</div>
            <!--<div>Variable: $primary-color</div>-->
        </div>

        <br>

        <div class="f-color-chip">
            <div class="f-color-chip__name">Green (#66BC29)</div>
            <div class="f-color-chip__color">rgb(102, 188, 41)</div>
        </div>

        <div class="f-color-chip">
            <div class="f-color-chip__name">Red (#DC291E)</div>
            <div class="f-color-chip__color">rgb(220, 41, 30)</div>
           <!-- <div>Variable: $special-offers-color</div>-->
        </div>

       

        <div class="f-color-chip">
            <div class="f-color-chip__name">Orange (#EA7125)</div>
            <div class="f-color-chip__color">rgb(234, 113, 37)</div>
            <!--<div>Variable: $add-to-cart-color</div>-->
        </div>

        <br/>
        <!--$grey-1: #f3f3f3;-->
        <!--$grey-2: #d2d2d2;-->
        <!--$grey-3: #cccccc;-->
        <!--$grey-4: #999999;-->
        <!--$grey-5: #666666;-->


        <div class="f-color-chip">
            <div class="f-color-chip__name">Grey (1) (#f3f3f3)</div>
            <div class="f-color-chip__color">#f3f3f3</div>
            <div>Variable: $grey-1</div>
        </div>
        <div class="f-color-chip">
            <div class="f-color-chip__name">Grey (2) (#d2d2d2)</div>
            <div class="f-color-chip__color">#d2d2d2</div>
            <div>Variable: $grey-1</div>
        </div>
        <div class="f-color-chip">
            <div class="f-color-chip__name">Grey (3) (#cccccc)</div>
            <div class="f-color-chip__color">#cccccc</div>
            <div>Variable: $grey-3</div>
        </div>
        <div class="f-color-chip">
            <div class="f-color-chip__name">Grey (4) (#999999)</div>
            <div class="f-color-chip__color">#999999</div>
            <div>Variable: $grey-4</div>
        </div>
        <div class="f-color-chip">
            <div class="f-color-chip__name">Grey (5) (#666666)</div>
            <div class="f-color-chip__color">#666666</div>
            <div>Variable: $grey-5</div>
        </div>

 <hr>

  <h3>Typography</h3>

        <div class="archer-typography-section">
            <h2>Archer Heading</h2>
            <p>Archer paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>
        </div>

       

        <h2>Avenir Heading</h2>

         <p>Avenir paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>

        <h1>Heading Level 1</h1>

        <h2>Heading Level 2</h2>

        <h3>Heading Level 3</h3>
        <h4>Heading Level 4</h4>
        <h5>Heading Level 5</h5>
        <h6>Heading Level 6</h6>


        <hr/>
    <h3>Page Layout</h3>

    <p>Page layouts use the twitter bootstrap css grid system. Column layouts are defined using .col-md-* grid classes. Below is a visual diagram representing available layouts within the 12 grid configuration.</p>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
          <div class="col-md-1"><span>.col-md-1</span></div>
        </div>
        <div class="row show-grid">
          <div class="col-md-8"><span>.col-md-8</span></div>
          <div class="col-md-4"><span>.col-md-4</span></div>
        </div>
        <div class="row show-grid">
          <div class="col-md-4"><span>.col-md-4</span></div>
          <div class="col-md-4"><span>.col-md-4</span></div>
          <div class="col-md-4"><span>.col-md-4</span></div>
        </div>
        <div class="row show-grid">
          <div class="col-md-6"><span>.col-md-6</span></div>
          <div class="col-md-6"><span>.col-md-6</span></div>
        </div>
    </div>
    <hr>
    
    <h3>Ad Zones</h3>

    <div class="ad-zone-300-250">
        <div>300 x 250 Ad</div>
    </div>

    <br />

    <div class="ad-zone-728-90">
        <div>728 x 90 Ad</div>
    </div>

    <div class="ad-zone-777-34">
        <div>777 x 34 Ad</div>
    </div>

    <div class="ad-zone-970-90">
        <div>970 x90 Ad</div>
    </div>
 <hr>



<h3>Hover States</h3>

<p><a href="#" class="cyan-link">cyan link</a></p>
<p><a href="#" class="gray-link">gray link</a></p>
<p><a href="#" class="blue-link">blue link</a></p>

<p>
    <div class="egift-card-form-footer" style="float:none;">
        <button style="float:none;margin:0px;width:150px;">CTA button</button>
    </div>
</p>


<div class="baby-registry-update">
    <div class="baby-registry-update-submit" style="padding:0px;">
        <button style="width:150px;">CTA button</button>
    </div>
</div>

<p>
    <a href="#" class="primary-text-link">primary text link</a> <img src="toolkit/images/gift-card/right-arrow-gray.png" class="primary-text-image" alt="right arrow">
</p>

<a id="membershipNum" data-toggle="popover" class="where-is-it" href="#" data-original-title="" title="">tool tip?</a>




<hr>

<h3>Error Treatment</h3>

<div class="shopping-cart-error-state">
    <div class="shopping-cart-error-state-header row">
        <div class="error-state-exclamation-lg img-responsive col-md-2"></div>
        <div class="shopping-cart-error-state-header-text col-md-10">
            Oops. There was an issue
            <div class="shopping-cart-error-state-subheader">
                The following item: <span>Disney Frozen Sparkle Anna of Arendelle Doll</span> has limited inventory. We've adjusted the quantity below to reflect the number we have available.
            </div>
        </div>
    </div>
</div>

<div class="my-account-gift-card-error">
    <header>
        gift card balance
    </header>
    <p>
        Enter the card number and PIN, then click "Check Balance". If your gift card does not have a PIN, please call 1-800-TOYSRUS to find your balance.
    </p>
    <div class="invalid-card-format">
        <div class="inline error-state-exclamation-sm"></div>invalid card # format
    </div>
    <div class="card-input">
        <div class="inline">
            <p>card number</p>
            <input type="text" value="123456789012" />
        </div>
        <div class="inline">
            <p>PIN</p>
            <input type="text" />
        </div>
        <button>check balance</button>
    </div>
    <a href="#">gift card help</a>
</div>
 <hr>
<h3>Breadcrumb Variations</h3>

<div class="style-guide-margin">
    <ul class="gift-finder-results-breadcrumb">
        <li>
            <a href="#"><img src="toolkit/images/home-icon-small.png" alt="home icon" />
            </a>
        </li>
        <li>
            <img src="toolkit/images/breadcrumb-right-arrow-small.png" alt="breadcrumb right arrow" />
        </li>
        <li>
            gift finder
        </li>
    </ul>
</div>

<div class="layaway-breadcrumb style-guide-margin">
    <span><img src="toolkit/images/home-icon-small.png" alt="home icon"></span>
    <span><img src="toolkit/images/breadcrumb-right-arrow-small.png" alt="" /></span>
    <span>layaway program</span>
    <span><img src="toolkit/images/breadcrumb-right-arrow-small.png" alt="" /></span>
    <span>how does it work</span>
</div>


<div>
    <ul class="category-breadcrumb">
        <li>
            <a href="#"><img src="toolkit/images/home-icon-small.png" alt="home icon">
            </a>
        </li>
        <li><img src="toolkit/images/breadcrumb-right-arrow-small.png" alt="">
        </li>
        <li>
            <div class="btn-group category-breadcrumb-dd">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="get-going-text">get going</span> <img id="breadcrumb-arrow-image" src="toolkit/images/breadcrumb-down-arrow.png" alt="" />
                </button>
                <ul class="dropdown-menu" role="menu">
                    <img class="sort-by-dropdown-arrow" src="toolkit/images/arrow-grey.svg">
                    <li><a href="#">take care</a>
                    </li>
                    <li><a href="#">eat well</a>
                    </li>
                    <li><a href="#">sleep tight</a>
                    </li>
                    <li><a href="#">get dressed</a>
                    </li>
                    <li><a href="#">play nice</a>
                    </li>
                </ul>
            </div>
        </li>
        <li><img src="toolkit/images/breadcrumb-right-arrow-small.png" alt="">
        </li>
        <li><span class="get-going-text">strollers</span>
        </li>
    </ul>
</div>

    <hr>

        <h3>Table Styling</h3>

<div class="my-account-order-history">
    <div class="order-history-header row">
        <div class="col-md-5">
            <h1>order history</h1>
            <p>status of your recent orders</p>
        </div>
        <div class="col-md-3 pull-right">
            <a href="#">view all orders</a>
        </div>
    </div>
    <div class="order-history-table-header row">
        <div class="col-md-3">
            order placed
        </div>
        <div class="col-md-3">
            order #
        </div>
        <div class="col-md-3">
            order status
        </div>
        <div class="col-md-3 pull-right">
            total
        </div>
    </div>
    <div class="order-history-order row">
        <div class="col-md-3">
            january 16, 2015
        </div>
        <div class="col-md-3">
            <a href="#">1259654523</a>
        </div>
        <div class="col-md-3">
            order received and ready for processing
            <p class="cancel-order"><span data-target="#myAccountDeleteCancelModal" data-toggle="modal">cancel order</span>
            </p>
        </div>
        <div class="col-md-3 pull-right">
            $255.99
        </div>
    </div>
    <div class="order-history-order row">
        <div class="col-md-3">
            november 15, 2014
        </div>
        <div class="col-md-3">
            <a href="#">1054594523</a>
        </div>
        <div class="col-md-3">
            <p>shipped</p>
            <p>tracking numbers: </p>
            <p><span>9611850049408779899778</span>
            </p>
        </div>
        <div class="col-md-3 pull-right">
            $58.98
        </div>
    </div>
    <div class="order-history-order row">
        <div class="col-md-3">
            december 16, 2014
        </div>
        <div class="col-md-3">
            <a href="#">1128853175</a>
        </div>
        <div class="col-md-3">
            <p>shipped</p>
            <p>tracking numbers: </p>
            <p><span><a href="" data-toggle="modal" data-target="#orderHistoryDetailModal">see details</a><span></p>
        </div>
        <div class="col-md-3 pull-right">
            $125.98
        </div>
    </div>
</div>


    <hr/>
</div>